@charset "utf-8";
.header{
    background:#2e2828;
    div{
        width: 1200px;
        height: 36px;
        margin: 0 auto;
        // background: green;
        .left{
            // width: 541.73px;
            height: 36px;
            background: springgreen;
            li{
                float: left;
            } 
        }
        .right{
            // width: 480.69px;
        }
    }
}